root = true

[*]
indent_size = 2
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
ij_javascript_space_before_method_parentheses = true

[*.md]
trim_trailing_whitespace = false
